body {
    position: relative;
}

#link {
    color: white;
}

#section1 {
    padding-top: 50px;
    height: 750px;
    color: #fff;
    background-color: #394c9b;
}

#smallTT {
    margin-left: auto;
    margin-left: auto;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
}

#section2 {
    padding-top: 50px;
    height: 750px;
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    padding-top: 50px;
    height: 750px;
    color: #fff;
    background-color: #000000;
}

#section4 {
    padding-top: 50px;
    height: 750px;
    color: #fff;
    background-color: #ff9800;
}

#section5 {
    padding-top: 50px;
    height: 750px;
    color: #fff;
    background-color: crimson;
}

#section6 {
    padding-top: 50px;
    height: 750px;
    color: #fff;
    background-color: #1E88E5;
}

#section7 {
    padding-top: 50px;
    height: 750px;
    color: #fff;
    background-color: #1d8947;
}
