/* body */
body{
    font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#363636;
	position:relative;
}
h1,h2,h3,h4,h5,h6{
	font-weight:500;
}
a,button{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
	outline:none;
	box-shadow:none;
	text-decoration:none;
}

/* Text selection background-color */
::-moz-selection {
    background-color: #5DADE2;
    color: #fff;
}
 
::selection {
    background-color: #5DADE2;
    color: #fff;
}
::-moz-selection,
::selection {
    background-color: #5DADE2;
    color: #fff;
}
/* social */
.social-body{
	position:fixed;
	top:50%;
	left:0;
	margin-top:-80px;
	z-index:999;
}
.social-body ul li{
	display:block;
}
.social-body ul li a{
	font-size:20px;
	color:#fff;
	background:#5DADE2;
	height: 40px;
    width: 40px;
	line-height:40px;
	text-align:center;
	display:block;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.social-body ul li a:hover{
	width:50px;
}
.social-body  ul li.facebook a{
	background:#425F9C;
}
.social-body .ul li.linkedin a{
	background:#1DA1F3;
}
.social-body ul li.github a {
	background: #E21B75;
}

/* button */
a:hover{
	text-decoration:none;
}
.button{}

.button .btn {
	font-weight: 500;
	font-size: 15px;
	height: 40px;
	color: #fff;
	display: inline-block;
	line-height: 40px;
	padding: 0 30px 0 30px;
}
.button .primary{}

.section{
	padding:100px 0;
}

/*section-title*/
.section-title {
	text-align: center;
}
.section-title h2 {
	color:#000;
	font-size: 44px;
	text-transform: uppercase;
	position: relative;
	font-weight: 700;
}
.section-title h2 span {
	color: #5DADE2;
}
/*breadcrumb*/
.breadcrumb{
	padding:80px 0px 0px 0px ;
	margin:0;
	background-color:#fff;
	border-top:1px solid #0000001a;
	border-bottom:1px solid #0000001a;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
}
.breadcrumb .breadcrumb-text {
	float: right;
}
.breadcrumb .breadcrumb-text h2{
	color:#5DADE2;
	text-transform:capitalize;
	padding-bottom:10px;
	border-bottom:5px solid #5DADE2;
}
/*slicknav_menu*/
.slicknav_menu{
	display:none;
}

#scrollUp {
	bottom: 15px;
	right: 15px;
	padding: 10px 20px;
	background: #5DADE2;
	color: #fff;
	font-size: 25px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	padding: 0;
	border-radius: 100%;
}
#scrollUp:hover{
	background:#333;
}

/*=========================
	Header CSS
===========================*/
.header{
	background:linear-gradient(-154deg,#5DADE2,#2E86C1);
}
.header .navbar-collapse{
	padding:0;
}
.header .header-inner {
	background: linear-gradient(-154deg,#5DADE2,#2E86C1);
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	z-index: 9000;
}
.header .navbar-nav {
	float: right;
	margin: 0;
}
.header .logo{
	float:left;
	padding-top:17px;
}
.header .navbar {
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
	min-height: 0px;
}
.header .nav li{
    float: left;
	position:relative;
}
.header .nav li:last-child{
	margin:0;
}
.header .nav li a {
	color: #d5d5d5;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 15px;
    position: relative;
    display: inline-block;
	box-shadow:none;
	text-shadow:none;
}
.header .nav li:hover a,
.header .nav li.current a{
	color:#fff;
}
.header .nav li:hover a{
	color:#fff;
}
.header .nav li .dropdown{
	background: #333;
    width: 220px;
    position: absolute;
    left: 40px;
    z-index: 99;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.header .nav li:hover .dropdown{
	opacity:1;
	visibility:visible;
	left: 0px;
}
.header .nav li .dropdown li{
	float:none;
	margin:0;
}
.header .nav li .dropdown li a{
	padding: 10px 15px;
    color: #fff;
    display: block;
}
.header .nav li .dropdown li i{
	float:right;
}
.header .nav li .dropdown li:hover a{
	color:#5DADE2;
}
.header .nav li .dropdown li a:before{
	display:none;
}
.header .nav li .dropdown .sub-dropdown{
	position: absolute;
    top: 0;
    left: 110%;
    width: 220px;
    background: #333;
	opacity:0;
	visibility:hidden;
	transition:all 0.4s ease;
}
.header .nav li .dropdown li:hover .sub-dropdown{
	opacity:1;
	left:100%;
	visibility:visible;
}
.header .nav li .dropdown .sub-dropdown li:hover a {
	color:#5DADE2;
}
.header .nav li .dropdown .sub-dropdown li a{
	color:#fff;
}
/* Sticky */
.header .sticky {
	position: fixed;
	width: 100%;
	top: 0;
	animation: fadeInDown 0.8s both 0s;
}
.form-group {
	text-align: center;
}
/*=========================
	End Header CSS
===========================*/

/*=========================
	Slider CSS
===========================*/
.slider{
	position:relative;
}
.slider:before{
	position:absolute;
	left:0;
	top:0;
	content:"";
	height:100%;
	width:100%;
	background:#000;
	opacity:0.4;
}
.slider{
	height:680px;
	background-size:cover;
	background-position:center;
}
.slider .text {
	margin-top: 227px;
}
.slider h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 600;
	margin: 0 0 30px;
}
.slider p{
	color:#fff;
}
.slider .button{
	margin-top:30px;
}
.slider .button .btn{
	margin-right:10px;
	background:#fff;
	color:#333;
	border-radius:0px;
}
.slider .button .btn:last-child{
	margin-right:0px;
}
.slider .button .btn i{
	margin-right:7px;
}
.slider .button .btn:hover{
	color:#fff;
	background:#5DADE2;
}
.slider .button .primary{
	background:#5DADE2;
	color:#fff;
}
.slider .button .primary:hover{
	color:#333;
	background:#fff;
}
/*=========================
	End Slider CSS
===========================*/

/*=========================
	About CSS
===========================*/
.about{
	padding-top:100px;
	padding-bottom:100px;
}
.about .single-about p{
	margin-bottom: 25px;
	font-size:15px;
	font-weight:300;
}
.about .single-about .cv {
	z-index:99;
	margin-top: 40px;
}
.about .single-about .cv a {
	font-weight: 500;
	font-size: 15px;
	height: 40px;
	color: #fff;
	background:#5DADE2;
	text-transform:uppercase;
	display: inline-block;
	line-height: 40px;
	padding: 0 30px 0 30px;
}
.about .section-title{
	margin-top:127px;
}
.about .single-about .cv a:hover{
	background:#333;
}
.about .single-about .social{
	margin-top: 20px;
}
.about .single-about .social ul{}
.about .single-about .social li{
	display:inline-block;
	margin-right:10px;
}
.about .single-about .social li:last-child{
	margin-right:0px;
}
.about .single-about .social li a{
	text-align:center;
}
.about .single-about .social li a i {
	font-size: 20px;
	color: #fff;
	background: #5DADE2;
	font-size: 17px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 0px;
	
}
.about .single-about .social li a:hover i{
	color:#fff;
	background:#333;
}
.about .image{
	position:relative;
}
.about .image img {
	width: 100%;
	box-shadow: 2px 2px 10px #0000002e;
}
.about .image .video-popup {
	color: #fff;
	background: rgba(66, 188, 127, 0.6);
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	border-radius: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 100%;
	padding-left: 3px;
	padding-top: 1px;
}
.about .image .video-popup:hover{
	transform:scale(1.1);
	color:#fff;
	background:#3339;
}
/*=========================
	End About CSS
===========================*/

/*=========================
	Services CSS
===========================*/
.service{
	background: linear-gradient(-154deg,#5DADE2,#2E86C1);
	padding: 40px 0 100px;
}
.service .section-title {
	margin-top: 227px;
}
.service .section-title h2{}
.service .section-title span{
	color:#fff;
}
.service .single-service {
	position: relative;
	margin-top: 60px;
	padding-left: 75px;
}
.service .single-service i {
	font-size: 30px;
	color: #ffffffb3;
	position: absolute;
	left: 0;
	top: 0;
	border-right: 2px solid #fff;
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
}
.service .single-service:hover i{
	color:#fff;
}
.service .single-service h5{
	font-size:20px;
	color:#fff;
	margin-bottom:10px;
	text-transform:capitalize;
}
.service .single-service p{
	color:#fffc;
	font-size:15px;
	font-weight:300;
}
/*=========================
	End Services CSS
===========================*/

/*=========================
	Skills CSS
===========================*/
.skill {
	background: #000;
	padding: 50px 0 100px;
}
.skill .section-title {
	margin-top: 130px;
}
.skill .section-title h2{
	color:#fff;
}
.skill .skill-main{
	margin-top:50px;
}
.skill .skill-head .skill-content {
	margin-top: 50px;
}
.skill .skill-head .skill-content h3{
	color:#fff;
	font-weight:700;
	font-size:28px;
}
.skill .skill-head .skill-content p{
	color:#fff;
	font-weight:300;
	margin-top:20px;
}
.skill .skill-head .skill-content .bolt{
	font-weight:600;
}
.skill .skill-title h4 {
	font-size: 16px;
	margin-bottom: 15px;
	text-transform: capitalize;
	font-weight: 600;
	color:#fff;
}
.skill .single-skill{
	margin-bottom:30px;
}
.skill .single-skill:last-child{
	margin-bottom:0px;
}
.skill .progress {
	overflow: visible;
	border-radius: 0px;
	box-shadow: none;
	background: #eee;
	height: 30px;
	margin: 0;
}
.skill .progress .progress-bar {
	position: relative;
}

.blog .single-sidebar{
	border-bottom-color:#ED1C24;
}
.skill .progress .progress-bar span::before{
	border-bottom-color:#ED1C24;
}
.skill .progress .progress-bar{
	background:#5DADE2;
}
.skill .button{
	margin-top:20px;
}
.skill .button .btn:hover{
	background:#333;
	color:#fff;
}
.skill .button .btn{
	background:#ED1C24;
}
/*=========================
	End Skills CSS
===========================*/

/*=========================
	Story CSS
===========================*/
.story{
	padding:100px 0px;
	background:#f5f5f5;
}
.story .story-content{}
.story .single-story {
	position:relative;
	margin-top:55px;
}
.story .single-story .year{
    height: 80px;
}
.story .single-story .inner-content{
	margin-left:125px;
	position:relative;
}
.story .story-content{
	position:relative;
}
.story .story-content::before {
	position: absolute;
	content: "";
	left: 90px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #5DADE2;
}
.story .single-story span {
	display: block;
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	left: 0;
	top: 0;
	background: #333;
	color: #fff;
	border-radius: 3px;
	height: 35px;
	width: 60px;
	text-align: center;
	line-height: 35px;
}
.story .single-story span::before {
	position: absolute;
	content: "";
	left: 81px;
	top: 9px;
	height: 18px;
	width: 18px;
	background: #5DADE2;
	border-radius: 100%;
}
.story .single-story span::after {
	position: absolute;
	content: "";
	border: 10px solid #333;
	left: 58px;
	top: 7px;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
}
.story .single-story h3 {
	font-size: 24px;
	font-weight: 600;
	color:#000;
	padding-bottom: 3px;
}
.story .single-story p{
	color:#000c;
	font-size:15px;
	font-weight:300;
}
.story .single-story p:before {
	position: absolute;
    content: "";
    left: -40px;
    top: 13px;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 100%;
}
.story .single-story .p2 {
	margin-top: 15px;
}
/*=========================
	End Story CSS
===========================*/

/*=========================
	Latest Works CSS
===========================*/
.latest-works{
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.latest-works .section-title h2 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.latest-works .section-title{
	margin:0;
	padding:0;
}
.latest-works .works-menu {
	padding-top: 10px;
	padding-bottom: 50px;
	text-align: center;
}
.latest-works .works-menu ul{}
.latest-works .works-menu ul li {
	font-size: 15px;
	color: #333;
	display:inline-block;
	margin-right: 10px;
	position: relative;
	padding: 5px 10px;
	margin-top: 22px;
	position:relative;
	cursor:pointer;
	transition:all 0.2s ease;
}
.latest-works .works-menu ul li:hover,
.latest-works .works-menu ul li.active{
	color:#fff;
	background:#5DADE2;
}
.latest-works .works-menu ul li i{
	margin-right:5px;
	font-size:14px;
}
.latest-works .works-menu ul li::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0px;
	height: 1px;
	width: 100%;
	background: #5DADE2;
	opacity:0;
	visibility:hidden;
	transition:all 0.4s ease;
}
.latest-works .works-menu ul li.active:before{
	top: -4px;
	opacity:1;
	visibility:visible;
}
.latest-works .works-menu ul li:after{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0px;
	height: 1px;
	width: 100%;
	background: #5DADE2;
	opacity:0;
	visibility:hidden;
	transition:all 0.4s ease;
}
.latest-works .works-menu ul li.active:after{
	opacity:1;
	visibility:visible;
	bottom: -4px;
}
.latest-works .works-menu ul li:last-child{
	margin:0;
}
/* single-work */
.latest-works .single-work{
	position:relative;
	overflow:hidden;
}
.latest-works .single-work:before{
	background: #5DADE2;
    top:0px;
	left:0;
    content: "";
    height: 100%;
	width:100%;
    position: absolute;
    transition: all 0.4s ease;
	opacity:0;
	visibility:hidden;
}
.latest-works .single-work:hover:before{
	opacity:0.9;
	visibility:visible;
}
.latest-works .single-work img{
	width:100%;
}
.latest-works .single-work .works-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	text-align: center;
}
.latest-works .single-work:hover .works-hover{
	opacity: 1;
	visibility: visible;
}
.latest-works .single-work .works-hover a{
	display:inline-block;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	color:#fff;
	font-size:16px;
}
.latest-works .single-work .works-hover .more{
	margin-top:20px;
}
.latest-works .single-work .works-hover .more a {
	color: #fff;
	font-size: 16px;
	border: 2px solid #fff;
	height: 40px;
	width: 140px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight:500;
}
.latest-works .single-work .works-hover .more a:hover{
	color:#000;
	border-color:#000;
}
.latest-works .single-work .works-hover h4 {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.latest-works .single-work .works-hover h4:hover{
	color:#444;
}
.latest-works .single-work .works-hover h4:before{
	position: absolute;
    content: "";
    left: -20px;
    top: 8px;
    height: 1px;
    width: 10px;
    background: #fff;
}
.latest-works .single-work .works-hover .link:before{
	position: absolute;
    content: "";
    left: 50%;
    top: -40px;
    height: 40px;
    width: 2px;
    background: #fff;
    margin-top: -20px;
    margin-left: -1px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	opacity:0;
	visibility:hidden;
}
.latest-works .single-work:hover .works-hover .link:before{
	top: 50%;
	opacity:1;
	visibility:visible;
}
.latest-works .single-work .works-hover .link:after{
	position: absolute;
    content: "";
    left: -40px;
    top: 50%;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: -1px;
    margin-left: -20px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	opacity:0;
	visibility:hidden;
}
.latest-works .single-work:hover .works-hover .link:after{
	left: 50%;
	opacity:1;
	visibility:visible;
}
.latest-works .single-work .works-hover h4:after{
	position: absolute;
    content: "";
    right: -20px;
    top: 8px;
    height: 1px;
    width: 10px;
    background: #fff;
}
.latest-works .isotop-active .col-md-4{
	padding-right: 0px;
	padding-left: 0px;
}

#projectInfo{
    color: white;
    text-align: left;
    float: left;
}

#first{
    height: 300px;
}
/*=========================
	End Latest Works CSS
===========================*/

/*===========================
	Footer CSS
============================*/
.footer{
	padding:0;
}

#contactInfo{
    color: white;
    font-size: 20px;
}
.footer .footer-top{
	text-align:center;
	padding:90px 0;
	background:#232328;
}
.footer .logo{
	margin-bottom:60px;
}
.footer .logo img{}
.footer .social{}
.footer .social li{
	display:inline-block;
	margin-right:10px;
}
.footer .social li:last-child{
margin:0;
}
.footer .social li a{
	width:42px;
	height:42px;
	border-radius:0px;
	background:#232328;
	line-height:42px;
	text-align:center;
	display:block;
	color:#5DADE2;
}
.footer .social li a:hover{
	box-shadow:0px 0px 5px #5DADE2 inset;
	color:#fff;
}
.footer .social li span{
	font-size:18px;
}
.footer .copyright{
	background:#232328;
	text-align:right;
    height: 20px;
}
.footer .copyright p{
	color:#444444;
}
/*===========================
	End Footer CSS
============================*/